<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- SQL dialect to inform hibernate to generate the query specific to 
			database engine -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!--Informing hibernate about the database details -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/NewDB</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">admin@123</property>


		<!-- optional -->
		<!--sql command on format -->
		<property name="hibernate.show_sql">true</property>
		<!-- with proper format -->
		<property name="hibernate.format_sql">true</property>
		<!--Informing the hibernate to create/alter/drop the table -->
		<property name="hibernate.hbm2ddl.auto">update</property>


		
		<mapping class="com.entity.Department" />
		<mapping class="com.entity.Employee" />	

	</session-factory>

</hibernate-configuration>

<!-- So the list of possible options are,

validate: validate the schema, makes no changes to the database.
create-only: database creation will be generated.
drop: database dropping will be generated.
update: update the schema.
create: creates the schema, destroying previous data.
create-drop: drop the schema when the SessionFactory is closed explicitly, typically when the application is stopped.
none: does nothing with the schema, makes no changes to the database
 -->





